.navigation {
	margin-left:50%;
	margin-top: 30px;
}

.small {
	font-size: 9px;
	margin-top: 5px;
}

.row .spacer{
	margin-top: 50px;
}

.four .columns .issue {
	min-height: 1000px;
} 

.quote {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	text-align: center;
}

blockquote {
	border-left:0;
	margin-top: 30px;
}

.crew-list {
	color: gray;
	font-size: 11px;
}

.swo-button {
	background: #303030;
	font-size: 17px;
	padding: 15px 30px 16px;
	color: #fff;
	border: none;
}

.swo-button:hover {
	background: #606060;
}

.small-swo-button {
	background: #303030;
	font-size: 15px;
	padding: 10px 20px 13px;
	color: #fff;
	border: none;
}

.small-swo-button:hover {
	background: #606060;
	color: #fff;
}

.note {
	padding-top:20px;
}

.issue {
	height: 500px;
}

footer{
	background-color: #303030;
	width: 100%;
	height: 250px;
	color: white;
	padding-top: 40px;
	margin-top:30px;
}

footer h5{
	color: white;
	line-height: 27px;
}

